<%- show_service_provider ||= false -%>
<%- service_list.each do |service| -%>

    <div class = "panel-notification posting" id = "service_<%= service.id %>">
        <p class = "panel-title bold"><%= service.headline %></p>
        <span class = "panel-cost bold">$<%= service.price %>/<%= service.fixed_rate ? 'job' : 'hr' %></span>
        <p class = "panel-contact">Posted at <%= Date.parse(service.created_at.to_s).strftime("%m/%d/%Y %l:%M") %></p>
    </div>
    
    <%- if current_user.id != @user.id -%>
        <%= link_to "Hire", new_service_order_path(service), :class =>'module-make-connection padding-mini text-center margin-bottom module per100' %>
    <%- else -%>
    <div class = "module-make-connection padding-mini text-center margin-bottom module per100">
        <%= link_to '<i class="fa fa-trash-o" aria-hidden="true"></i>'.html_safe, new_service_order_path(service), :class => 'padding-right-small' %>
        <%= link_to '<i class="fa fa-pencil" aria-hidden="true"></i>'.html_safe, edit_service_path(service), :class => 'padding-left-small'%>
    </div>
    <%- end -%> 

<%- end -%>

