<section class = "banner" id = "banner-dashboard">
    <div class = "container">
        <div class = "module per100 padding-medium">
            <h3 class = "margin-bottom"><%= current_user.name %></h3>
            <div class = "module-container">
                <div class = "module per10">
                    <img class = "image-profile-picture" src = "img/goat picture.jpg">
                </div>
                </div>
            </div>
        </div>
        
        <div class = "module padding-medium per33 tab-per100">
            <h3 class = "margin-bottom">About <%= current_user.name.split(" ").first %></h3>
                <p><%= current_user.about_me %></p><br>
            
            <%= link_to "Create New Service", new_service_path, :class => 'button margin-bottom' %>
            
            <div class = "module-container">
                <p class = "bold uppercase padding-bottom-small">Services I Offer</p>
                
                <%- current_user.services.each do |service| -%>
                    <p><%= service.headline %>, <%= number_to_currency service.price %></p>
                <%- end -%>
            </div>
            
            <div class = "module-container">
                <p class = "bold uppercase margin-top padding-bottom-small">Recent postings</p>
                        <% @recent_postings.each do |posting| %>  
                                <p class="bold"><%= posting.headline %></p>
                                <p><%= posting.user.name %></p>
                                <p class="margin-bottom"><%= posting.created_at %></p>
                        <% end %>
            </div>
            
            <div class = "module-container">
                <p class = "bold uppercase padding-bottom-small">Reviews</p>
            </div>
        </div>
        
        <div class = "module per33 tab-per50 padding-medium">
            <h3 class = "margin-bottom">Upcoming gigs and hires</h3>
            
            <div class = "panel-notification gig">
                <p class = "panel-title bold">Snow Shoveling</p>
                <span class = "panel-cost bold">$30</span>
                <p class = "panel-contact">On 4/29/2017 for Lenore Kubie</p>
                <p class = "panel-description padding-top-small">Shoveling for Lenore</p>
            </div>
            
            <div class = "panel-notification hire">
                <p class = "panel-title bold">Data Entry</p>
                <span class = "panel-cost bold">$25/hr</span>
                <p class = "panel-contact">On 4/29/2017 from Lenore Kubie</p>
                <p class = "panel-description padding-top-small">Lenore is going to enter all my data</p>
            </div>
        </div>

        <div class = "module per33 tab-per50 padding-medium">
            <h3 class = "margin-bottom">Incoming offers</h3>
            
            <div class = "panel-notification offer">
                <p class = "panel-title bold">Snow Shoveling</p>
                <span class = "panel-cost bold">$30</span>
                <p class = "panel-contact">For 4/30/2017 from Danielle Bisordi</p>
                <p class = "panel-description padding-top-small">I'll shovel that day</p>
            </div>
        </div>

    </div>
</section>
