<section class = "banner" id = "banner-dashboard">
    <div class = "container">
        <!-- <div class = "module per20 padding-top-large padding-bottom-large" id = "module-dashboard-actions">
            <div class = "module-container">
                <div class = "module per100 padding-medium text-center margin-bottom margin-top">
                    <img class = "image-profile-picture" src = "img/goat picture.jpg">
                    <p class = "margin-top bold large"><%= current_user.name %></p>
                    <p class = "margin-top"><%= current_user.about_me %></p>
                </div>

                <%= link_to "View Profile", profile_path(current_user.id), :class => 'button per100 module-dashboard-action text-left' %>

                <%= link_to "Edit Profile", edit_user_registration_path, :class => 'button per100 module-dashboard-action text-left' %>

                <%= link_to "Create Service", new_service_path, :class => 'button per100 module-dashboard-action text-left'  %>

                <div class = "module per100 padding-small module-dashboard-action">
                    <p>Post Gig For Hire</p>
                </div>

                <%= link_to "Search Gigs", catalog_path, :class => 'button per100 module-dashboard-action text-left'  %>
            </div>
        </div> -->
        <!-- <div class = "module per100">
            <div class = "module-container"> -->
                <div class = "module per33 tab-per100 padding-right-medium">
                    <h3 class = "margin-bottom">Upcoming gigs and hires</h3>

                    <%- current_user.accepted_orders_i_have_or_placed.each do |order| -%>
                      <div class = "panel-notification <%= order.service.user == current_user ? "hire" : "gig" %>">
                          <p class = "panel-title bold"><%= link_to order.headline.titleize, show_service_path(order.service) %> - <%= order.service.category.category_name %></p>
                          <p class = "panel-cost bold"><%= number_to_currency(order.price) %>/<%= order.service.fixed_rate ? 'job' : 'hour' %></p>
                          <p class = "panel-contact"><%= order.appointment_time.strftime("%_-m/%d/%Y %l:%M") %> with <%= link_to order.user.name, profile_path(order.user.id) %></p>
                          <p class = "panel-description padding-top-small"><%= order.description %></p>
                          <%= button_to "Cancel", cancel_service_order_path(order.service, order), method: :post %>
                          <%- if order.complete? -%>
                            Completed
                          <%- else -%>
                            <%= button_to "Complete", complete_service_order_path(order.service, order), method: :post %>
                          <%- end -%>
                      </div>
                    <%- end -%>
                </div>

                <div class = "module per33 tab-per100 padding-left-small padding-right-small">
                    <h3 class = "margin-bottom">Pending Incoming offers</h3>

                   <%- current_user.orders.unaccepted_awaiting_response.each do |order| -%>
                      <div class = "panel-notification gig">
                          <p class = "panel-title bold"><%= link_to order.headline.titleize, show_service_path(order.service) %>  - <%= order.service.category.category_name %></p>
                          <p class = "panel-cost bold"><%= number_to_currency(order.price) %>/<%= order.service.fixed_rate ? 'job' : 'hour' %></p>
                          <p class = "panel-contact"><%= order.appointment_time.strftime("%_-m/%d/%Y %l:%M") %> with <%= link_to order.user.name, profile_path(order.user.id) %></p>
                          <p class = "panel-description padding-top-small"><%= order.description %></p>
                          <%= button_to "Accept", accept_service_order_path(order.service, order), method: :post %>
                          <%= button_to "Reject", reject_service_order_path(order.service, order), method: :post %>
                      </div>
                    <%- end -%>
                </div>

                <div class = "module per33 tab-per100 padding-left-medium">
                    <h3 class = "margin-bottom">Pending Outgoing offers</h3>

                    <%- current_user.orders_i_placed.unaccepted.each do |order| -%>
                      <div class = "panel-notification hire">
                          <p class = "panel-title bold"><%= link_to order.headline.titleize, show_service_path(order.service) %> - <%= order.service.category.category_name %></p>
                          <p class = "panel-cost bold"><%= number_to_currency(order.price) %>/<%= order.service.fixed_rate ? 'job' : 'hour' %></p>
                          <p class = "panel-contact"><%= order.appointment_time.strftime("%_-m/%d/%Y %l:%M") %> with <%= link_to order.service.user.name, profile_path(order.service.user.id) %></p>
                          <p class = "panel-description padding-top-small"><%= order.description %></p>
                      </div>
                    <%- end -%>
                </div>
            </div>
        <!-- </div>
    </div> -->
</section>


