<section class = "banner">
    <div class = "container align-center">
		<div class = "module per100 margin-bottom">
            <h2><%= @service.headline  %></h2>
            <h3 class = "margin-bottom">by <%= link_to @service.user.name, profile_path(@service.user.id) %><br><%= number_to_currency(@service.price) %>/<%= @service.fixed_rate ? 'job' : 'hour' %></h3>
            <p><%= @service.description %></p>
        </div>
		<%-  if current_user != @service.user-%>
		<div class = "module per100 ">
            <%= link_to "Hire", new_service_order_path(@service), :class => 'button per30 tab-per50 mob-per80 margin-bottom text-center primary-color' %>
        </div>
		<%-end -%>

	</div>
</section>
