<section class = "banner" id = "banner-signup">
    <div class = "container">
        <h2 class = "margin-bottom">Log in</h2>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

            <div class = "module per100 margin-bottom module-input">
              <span class = "floating-label">Email</span>
              <%= f.email_field :email, autocomplete: "true", :class=> 'per100 medium input-floating-label'%>
            </div>

            <div class = "module per100 margin-bottom module-input">
              <span class = "floating-label">Password</span>
              <%= f.password_field :password, autocomplete: "off", :class=> 'per100 medium input-floating-label'%>
            </div>

            <% if devise_mapping.rememberable? -%>
              <div class = "module per100 margin-bottom module-input">
                  <%= f.check_box :remember_me %>
                  Remember me?
              </div>
            <% end -%>

            <%= f.submit "Log in", :class => 'button'%>
        <% end %>

        <div class = "module per50 margin-top">
            <p>Don't have an account? <%= render "devise/shared/links" %></p>
        </div>
    </div>
</section>