<h3><%= @service.headline %></h2> <%= link_to "Request Service", new_service_path, :class => 'button margin-bottom' %>
<h4>by <%= @service.user.name %> - <%= number_to_currency(@service.price) %></h4>
<%= @service.description %>


