Review for <%= @review.user.name %> / <%= @service.headline %>
<%= form_for(@review, url: service_order_reviews_path) do |f| %>
  <p>
    <%= f.label :rating %><br/>
    <%= f.select :rating, [1,2,3,4,5] %>
  </p>
  <p>
    <%= f.label :description %><br/>
    <%= f.text_area :description %>
  </p>
  <%= submit_tag "Submit Review" %>
<%- end -%>
