<!DOCTYPE html>
<html>
  <head>
    <title>Marketplace</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>Marketplace</h1>
      <%- if current_user -%>
        <%= link_to "Logout", destroy_user_session_path %>
      <%- else -%>
        <%= link_to "Sign Up", new_user_registration_path %> |
        <%= link_to "Login", new_user_session_path %>
      <%- end -%>
    </header>
    <%= yield %>
  </body>
</html>
