<!DOCTYPE html>
<html>
    <head>
    <!-- META DATA -->
    <title>Marketplace</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


    <!-- FONTS -->
    <script src="https://use.fontawesome.com/ba4ae401ed.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Dosis:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,700" rel="stylesheet">

    <!-- STYLES -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    </head>

    <body>
        <header class = "banner">
            <div class = "container align-middle">
                <div class = "module per30 inverse"> 
                    <h1><%= link_to "Marketplace", root_path %></h1>
                </div>
                
                <div class = "module per70 text-right inverse">
                    <%- if current_user -%>
                        <div class = "hamburger margin-right"><i class = "fa fa-bars" aria-hidden = "true"></i></div>
                    <%- else -%>
                        <%= link_to "Sign Up", new_user_registration_path %> |
                        <%= link_to "Login", new_user_session_path %>
                    <%- end -%>
                </div>
            </div>
        </header>
    
        <%- if current_user -%>
        <section class = "banner" id = "banner-sidebar">
            <div class = "container-extender">
                <div class = "module per100">
                    <div class = "close per100 padding-medium">
                        <i class = "fa fa-close" aria-hidden = "true"></i>
                    </div>
                    
                    <div class = "module per100 padding-medium text-center margin-bottom margin-top">
                        <img class = "image-profile-picture" src = "img/goat picture.jpg">
                        <p class = "margin-top bold large"><%= current_user.name %></p>
                        <p class = "margin-top"><%= current_user.about_me %></p>
                    </div>
                    
                    <%= link_to "Dashboard", dashboard_path, :class => 'button per100 module-dashboard-action text-center' %>

                    <%= link_to "View Profile", profile_path(current_user.id), :class => 'button per100 module-dashboard-action text-center' %>

                    <%= link_to "Edit Profile", edit_user_registration_path, :class => 'button per100 module-dashboard-action text-center' %>

                    <%= link_to "Create Service", new_service_path, :class => 'button per100 module-dashboard-action text-center'  %>

                    <div class = "module per100 padding-small module-dashboard-action text-center">
                        <p>Post Gig For Hire</p>
                    </div>

                    <%= link_to "Search Gigs", catalog_path, :class => 'button per100 module-dashboard-action text-center'  %>
                </div>
            </div>
        </section>
        <%- end -%>

        <%= yield %>
        
        <%- if request.path != '/dashboard' -%>
        <footer class = "banner" id = "banner-footer">
            <div class = "container">
                <div class = "module per33 padding-medium">
                    <p>Report</p>
                    <p>Dispute an interaction</p>
                    <p>Terms and Conditions</p>
                    <p>Privacy Policy</p>
                    
                    <p class = "padding-top-large small">&copy; TechTalk Laramie 2017.</p>
                </div>
                
                <div class = "module per33 padding-medium">
                    <p>Search Gigs</p>
                    <p>View Dashboard</p>
                </div>
                
                <div class = "module per33 padding-medium">
                    <p>Social Media Icons</p>
                    <button class = "margin-top per100" style = "background-color: #7f00ff">Contact us</button>
                </div>
            </div>
        </footer>
        <%- end -%>
    </body>
</html>
